<p>
  Boxes of Life draws a box for each week of a 90-year life.
  If you enter your Birthday below, you can see how many boxes you already used. 
  I hope this let you stay motivated through out your life and prevents you from procrastination :)
</p>
<div class="d-flex flex-column" [formGroup]="dateForm">
  <mat-form-field appearance="fill">
    <mat-label>Choose your birthday</mat-label>
    <input
      matInput
      readonly
      [max]="now()"
      [matDatepicker]="picker"
      [value]="lifetimeSpan.birthday"
      (dateChange)="dateChanged($event)"
      (click)="picker.open()"
      formControlName="dateOfBirth"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year"></mat-datepicker>
    <mat-error *ngIf="dateForm.get('dateOfBirth')?.hasError('required')">
        Valid date required.
    </mat-error>
  </mat-form-field>
</div>

<div class="flex-d">
  <button type="button" class="btn btn-success" (click)="save()" [disabled]="!dateForm.valid">Save</button>
</div>
